.banner {
	color: white;
	padding: 75px 0px;
	background-image: url(../../images/avironversailles.png) ;

}


.banner h1 {
	color: white;
	font-size: 55px;
	
	
}

.banner h2 {
	color: white;
	font-size: 55px;
	
	
}